<nav style="margin-bottom: 5%;">
  <div class="nav-wrapper">
    <a href="" class="brand-logo">New Pet</a>
  </div>
</nav>

<div style="margin-left: 25%; margin-right: 20%;">
<%= render 'form', pet: @pet %>
</div>

<div style="margin-left: 77%;">
<%= link_to 'Back', pets_path %>
</div>